body{
    font-family: cursive;
    background-image: url(images/sigmund-NHsY-iF_bng-unsplash\ \(1\).jpg)
}
.myname{
    text-align: right;
    font-size: 25px;
    color: azure;
}
h1{
    text-align: center;
    font-size: 45px;
}

.main-text{
    font-size: 35px;
}
.gap{
    gap: 20px;
}
img{
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 25px;
}
.bottom{
    margin-bottom: 25px;
}